{% extends "base.html" %}

{% block content %}


  <form class="mt-5" action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
    <div class="alert-warning p-3 mb-3" style="border-radius: 5px;">
    Enter a valid email address.
  </div>
    {% else %}
    <ul><li>Enter your email address.</li></ul>
  {% endif %}
        <p><input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email"></p>
      <input type="submit" class="btn btn-success btn-lg" value="Reset password">
    </form>
{% endblock %}


